rich==13.7.1
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
dash==3.0.3
Flask==3.0.3
idna==3.10
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
narwhals==1.35.0
nest-asyncio==1.6.0
packaging==25.0
plotly
pywin32
requests
retrying
scipy
six==1.17.0
typing_extensions
urllib3
Werkzeug
zipp
streamlit
numpy
pandas
matplotlib
lifelines